API_ID=38074255
API_HASH=b24d8bf27bba4316a37c4bf2a7e9b9cf
OWNER_ID=8333032285
LOGGER_ID=-1003780274857
BOT_TOKEN=8751239891:AAGKAXcMBX1n48Hef4gwUUtGpFJQHx-dty4
STRING_SESSION=BAJKoqIAAjNr_F9PTLgVCVPU25o0m-TC6stA70OjvZmwhJq79FvhwA8gey1EFNt0XmEy67WDJElsFuPdbszpyH1x6pYQwQIGw18Y9Q_JJO2wwWmm5cSI3o36T4DdMIjYJYwbZr_tIKFhyDNo_4vwB8bPpGjIhT8REej0vOZoh7MNBXHS3eZnlyOr8898k501-TdyrlkeflS3WaXA7U5yDXKxFfgXq4d4bMHjkfgVkP1dSrDOMiECWsDxg6RLOUghzLQwJkOEErJjBP00ZhDSsgwzzWuBktp0F34aUc-pGSBzO_-UwQjiUvRIDXLIRRzBVji0-frifcLW6QYXDbww9cIr7gcsVQAAAAH84vx3AA
MONGO_DB_URI=mongodb+srv://rj5706603:O95nvJYxapyDHfkw@cluster0.fzmckei.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
COOKIE_URL=https://pastebin.com/WUSVuj3t
DEEP_API= 
API_KEY=
API_URL=
